<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if(orders.length <= 0) { %> 
            <h1>Nothing there !</h1>
            <% } else { %> 
            <ul>
                <% orders.forEach((order) => { %>
                    <li>
                        <%= order.id %> 
                        <ol>
                            <% order.products.forEach((product) => {%>  
                                <li>
                                    <%= product.title %> (<%= product.orderItem.quantity %>) 
                                </li>
                                <% })  %> 
                        </ol>
                    </li>
                    <% })  %>  
                </ul>
                <% } %> 
        </main>
        <%- include('../includes/end.ejs') %>